/* setting the alternative box model for all elements */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.sonya-color {
    color: black;
    background: white;
    text-align: center;
    margin: auto;
}

p {
    text-align: center;
    margin: 10px;
}

.spotify {
    color: black;
    background: lightgreen;
}
.apple {
    color: black;
    background: lightpink;
}
.yt {
    color: black;
    background: lightcoral;
}
.sc {
    color: black;
    background: rgb(255, 209, 123);
}

.who {
    color: red;
    background-color: red;
    :hover {
        color: black;
      }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    color: rgba(255, 55, 55, 0.86);
    text-align: center;
    margin: auto;
}