html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.sonya-color {
    color: rgba(255, 55, 55, 0.86);
}

.link {
    border: 1px solid black;
}
.spotify {
    color: green;
}
.apple {
    color: blue;
}
.yt {
    color: red;
}
.sc {
    color: black;
}